*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  color: rgb(170, 170, 170);
  font-family: roboto, arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 15, 15);

  height: 100dvh;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-template-columns: 360px 1fr;
  grid-template-areas:
    "BIG1 BIG2";
}