*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  color: rgb(170, 170, 170);
  font-family: roboto, arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 15, 15);

  height: 100dvh;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-template-columns: 360px 1fr;
  grid-template-areas:
    "BIG1 BIG2";
}

@media (max-width:1080px) {
  body {
    grid-template-areas:
    "BIG1 BIG1"
    "BIG2 BIG2";
  }

  .playlist-info {
    min-height: auto;
    height: 288px;
    width: 100%;
    grid-template-columns: 428px 428px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "box-1 box-2 box-2"
    "box-1 box-3 box-4"
    "box-1 box-5 box-5";
    border-radius: 0px;
  }

  .playlist-pic {
    height: 240px;
  }
}