.video-grid {
  display: grid;
  overflow: auto;
}

.video {
  cursor: pointer;
  border-radius: 12px;
  padding: 8px 0px;
  display: grid;
  justify-content: center;
  align-items: start;
  height: 129px;
  min-width: 599px;
  grid-template-columns: 36px 210px 1fr 40px;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "box-6 box-7 box-8 box-9";
}

.lines {
  color: white;
  width: 24px;
  height: 24px;
  display: block;
  fill: currentColor;
  background-color: rgb(15, 15, 15);
}

.vid-thumbnail {
  width: 200px;
  height: 113px;
  object-fit: cover;
  border-radius: 8px;
}

.vid-title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  margin-bottom: 8px;
}

.vid-info1 {
  place-self: center;
}

.vid-info2 {
  position: relative;
}

.vid-time {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-14px, -8px);
}

.vid-time::before {
  position: absolute;
  overflow: hidden;
  content: "";
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 20px;
}

.vid-time2 {
  color: white;
  font-weight: 500;
  padding: 2px 6px;
}

.yt-icon-button {
  position: relative;
  right: 6px;
}

.video:hover {
  background-color: rgba(39, 39, 39);
  transition-duration: 0.1s;
}

.video:hover .lines {
  background-color: rgba(39, 39, 39);
  transition-duration: 0.1s;
}

.vid-user2:hover {
  color: white;
  position: relative;
}

.three-dots-button {
  color: white;
  width: 40px;
  height: 40px;
  display: block;
  fill: currentColor;
  background-color: rgb(15, 15, 15);
  border: 0;
  border-radius: 20px;
}

.three-dots {
  height: 24px;
  width: 24px;
  place-self: center;
}

.video:hover .three-dots-button {
  background-color: rgba(39, 39, 39);
  transition-duration: 0.1s;
}

.vid-user2:hover::after {
  content: attr(user);
  background-color: rgba(91, 92, 92, 0.8);
  color: white;
  position: absolute;
  top: -39px;
  left: 50%;
  padding: 9px 8px;
  border-radius: 4px;
  translate: -50% -50%;
  width: max-content;
  z-index: 10;
}

.user-link {
  color: rgb(170, 170, 170);
}

.video-link {
  width: 100%;
  height: 100%;
}

a,
a.active {
  text-decoration: none;
}

.video-link::after {
  content: '';
  inset: 0;
  position: absolute;
  z-index: 0;
}

.vid-info3 {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.vid-user2 {
  z-index: 100;
}

.user-link {
  z-index: 100;
}